.loader {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  &__line {
    height: 40px;
    width: 10px;
    background-color: green;
    animation: line-scale 1.2s ease infinite;
    margin-right: 10px;
  }

  &__line:nth-child(1) {
    animation-delay: 0.2s;
  }
  &__line:nth-child(2) {
    animation-delay: 0.4s;
  }
  &__line:nth-child(3) {
    animation-delay: 0.6s;
  }
}

@keyframes line-scale {
  0% {
    transform: scaleY(1);
  }
  40% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.4);
  }
  70% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
